C.2.1. Introducción Python.ipynb
C.2.2.  Introducción Python.ipynb
C.3.1.Listas.ipynb
C.3.2. Bucles.ipynb
calc.py
grade.py
cat.py
tempCodeRunnerFile.py
Cocteau's Tea.pdf
movie.py
ejercicios.py
partity.py
py.drawio
Introduction_to_Python_Programming_-_WEB.pdf
python-handbook.pdf
Tutorial_EDIT.pdf
Python Programming.pdf
python-pdf.pdf
.vscode/
launch.json
numpy.py
matriz.ipynb
new.py
notes.md
age_calc.py
fundamentals.py
ejercicios.md
*.pdf
