.vscode/
launch.json
pdf/
py.drawio
py/*.ipynb
py/*.pdf
py/C.2.1. Introducci\303\263n Python.ipynb
py/C.2.2. Introducci\303\263n Python.ipynb
py/C.3.1.Listas.ipynb
py/C.3.2. Bucles.ipynb
py/Cocteau's Tea.pdf
py/calc.py
py/cat.py
py/ejercicios.py
py/grade.py
py/movie.py
py/partity.py
py/tempCodeRunnerFile.py